body {
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}

/*breadcrumb*/
div.breadcrumb {
    position: sticky;
    top: 70px;
    background-color: #07175B;
    color: white;
    padding: 8px 0px 8px 0px;
    margin: 0px;
    z-index: 98;
}

ul.breadcrumb-content {
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    margin-left: 7%;
    margin-right: 7%;

}

ul.breadcrumb-content,
li.breadcrumb-items,
li.the-on-page {
    display: inline;
    margin-right: 8px;
    text-align: center;
}

a.breadcumb-items {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

a.breadcumb-items:hover {
    color: #5D9DFE;
}

i.breadcrumb-arrow {
    display: inline-block;
    transform: rotate(-90deg);
    margin-right: 8px;
    font-size: large;
}

li.the-on-page {
    font-weight: 650;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;

}

@media screen and (max-width: 1000px) {
    ul.breadcrumb-content {
        margin-left: 3%;
        margin-right: 3%;

    }
}

@media screen and (max-width: 800px) {
    ul.breadcrumb-content {
        margin-left: 0%;
        margin-right: 0%;
        font-size: 11px;
    }

    a.breadcumb-items {
        color: white;
        font-size: 11px;

    }

    i.breadcrumb-arrow {
        font-size: medium;
    }
}