@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/futura-std-4');

h1 {
    font-family: 'Futura Std', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'Futura Std', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Futura Std', sans-serif;
    font-size: 32px;
}

h4 {
    font-family: 'Futura Std', sans-serif;
    font-size: 28px;
}

h5 {
    font-family: 'Futura Std', sans-serif;
    font-size: 24px;
}

h6 {
    font-family: 'Futura Std', sans-serif;
    font-size: 20px;
}

body {
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
}