@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}

/*footer*/
footer {
    font-family: 'Futura Std', sans-serif;
    background-color: black;
    color: white;
    padding: 15px 0px 20px 0px;
}

a {
    text-decoration: none;
    color: white;
}

div.footer-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
}

div.footer-first-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.menu {
    display: flex;
    gap: 25px;
}

a.menu-item {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

a.menu-item:hover {
    color: #5D9DFE;
}

.under {
    margin-top: 10px;
}

.social {
    display: flex;
    column-gap: 10px;
}

.social i {
    font-size: 30px;
}

.social i:hover {
    color: #5D9DFE;
    transition: color 0.3s ease;
}

a.footer-info {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

div.footer-info {
    margin-right: 35px;

}

a.footer-info:hover {
    color: #5D9DFE;
}

div.footer-info-menu {
    display: flex;
    margin-top: 50px;
}

p.copyright {
    font-weight: 400;
    font-size: 15px;
}

@media screen and (max-width: 1000px) {

    div.footer-content {
        margin-left: 6%;
        margin-right: 6%;
    }

    a.menu-item {
        font-size: 16px;
    }

    div.menu {
        gap: 15px;
    }
}


@media screen and (max-width: 800px) {

    /*Mobile footer*/
    div.footer-first-layer {
        display: block;

    }

    div.footer-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    div.footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    div.menu {
        display: block;
        text-align: center;
    }

    a.menu-item {
        font-size: 18px;
    }

    div.menu-content {
        margin: 10px 0px;
    }

    div.social {
        margin: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.footer-info-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px 0px;
    }

    div.footer-info {
        margin: 0;
        margin: 5px 10px;
    }

    div.copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}