/*copy here to*/
/*Navbar*/
/*futura font*/
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    background-color: hsl(240, 4%, 11%);
    color: rgb(255, 255, 255);
    margin: 0px;
}

nav {
    background-color: hsl(240, 3%, 6%);
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
    padding: 15px 144px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a {
    color: white;
    text-decoration: none;
}

.nav1 {
    display: flex;
    gap: 55px;
    align-items: center;
}

.arrow {
    transform: rotate(90deg);
    height: 20px;
}

.underline:hover {
    border-bottom: #5D9DFE solid 2px;
    cursor: pointer;
}

/*menu*/
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1px;
}

.submenu1 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1 {
    display: block;
}

.live-news {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1,
.submenu2 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1x;
}

.submenu1 a,
.submenu2 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow,
.menu-item2:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1,
.menu-item2:hover .submenu2 {
    display: block;
}

/*get in touch*/
.get-in-touch {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon :hover,
g:hover circle,
g:hover path {
    fill: #5D9DFE;
}

/*copy until here*/