/*futura font*/
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

* {
    box-sizing: border-box;
}


:root {
    /*height*/
    --hero-height: clamp(500px, 80vh, 700px);
    --view-height: clamp(400px, 85vh, 600px);
    --data-height: clamp(200px, 20vh, 300px);
    /*color*/
    --font-color: white;
    --background-color: #1b1b1d;
    --accent-color: #5D9DFE;
    --main-color-blue: #07175B;
    --main-color-red: #9F1C07;
    /*padding*/
    --view-padding: clamp(50px, 5vh, 60px);
}

.font-body h1,
h1.font-body,
.font-title h4,
h4.font-title,
.font-body h2,
h2.font-body,
.font-title h2,
h2.font-title,
.font-title h6,
h6.font-title,
.data-number,
.data-title,
.font-body h1,
h1.font-body,
.font-title h4,
h4.font-title,
.font-body h2,
h2.font-body,
.font-body h3,
h3.font-body {
    margin: 0px;
}

/*title*/
.bio-title {
    min-height: var(--hero-height);
    background-image: url(../img/biography-images/bio-page-hero-images.jpeg);
    background-position: center;
    background-size: cover;
}

.title-g {
    background-color: hsla(240, 4%, 11%, 0.621);
    min-height: var(--hero-height);
    width: 100%;
}

.title-c {
    position: relative;
    top: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*bio*/
.bio {
    background-image: url(../img/biography-images/bio-page-profile.jpg);
    background-size: cover;
    background-size: 90%;
    background-position-x: -277px;
    background-position-y: bottom;
    min-height: var(--view-height);
}

.bio-g {
    background-image: linear-gradient(to left, hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.263), hsla(240, 4%, 11%, 0.17), hsla(240, 4%, 11%, 0));
    min-height: var(--view-height);
}

.bio-c {
    min-height: var(--view-height);
    display: flex;
    justify-content: end;
    margin: auto;
    padding-top: clamp(8px, 5vh, 10px);
    padding-bottom: clamp(8px, 5vh, 10px);
}

.bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: fit-content;
}

.bio-text hr {
    width: 10%;
    text-align: left;
    margin-left: 0;
}

.font-title h6,
h6.font-title {
    margin-bottom: clamp(10px, 2vw, 30px);
}

.font-body p,
p.font-body {
    line-height: 28px;
    font-weight: 400;
}

/*data*/
.data {
    height: var(--data-height);
    height: fit-content;
}

.data-c {
    height: var(--data-height);
    padding-top: clamp(20px, 5vh, 30px);
    padding-bottom: clamp(20px, 5vh, 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-card-row {
    flex: flex;
}

.column {
    float: left;
    width: 33.33%;
}

.data-item {
    text-align: center;
}

.data-number {
    padding-bottom: clamp(5px, 5vw, 8px);
    font-weight: 600;
}

.data-title {
    font-weight: 400;
}

/*TOP YOUTUBE VIDEOS*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(15px, 5vw, 20px);
}

.top-video {
    min-height: var(--view-height);
    background-image: url(../img/biography-images/bio-page-top-video-background-images.jpg);
    background-size: cover;
    background-position: center;
}

.video-g {
    background-color: hsla(240, 4%, 11%, 0.685);
    min-height: var(--view-height);
}

.video-c,
.song-c {
    padding-top: var(--view-padding);
    padding-bottom: var(--view-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.v-img2 {
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 5vw, 20px);
}

.top-title {
    padding-bottom: clamp(20px, 5vh, 25px);
}

.video-text,
.song-text1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: clamp(20px, 5vh, 30px);
}

.video-text1 {
    min-height: 472px;
}

.video-text2 {
    min-height: 227px;
}

.font-body h2,
h2.font-body {
    line-height: 60%;
}

.video-img1,
.video-img2,
.video-img3 {
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.video-img1 {
    background-image: linear-gradient(to top, hsla(229, 86%, 19%, 0.982), hsla(229, 86%, 19%, 0)), url(../img/biography-images/bio-page-top-video-Usseewa.jpg);
}

.video-img2 {
    background-image: linear-gradient(to top, hsla(229, 86%, 19%, 0.982), hsla(229, 86%, 19%, 0)), url(../img/biography-images/bio-page-top-video-Odo.jpeg);
}

.video-img3 {
    background-image: linear-gradient(to top, hsla(229, 86%, 19%, 0.982), hsla(229, 86%, 19%, 0)), url(../img/biography-images/bio-page-top-video-show.jpg);
}

/*top-song*/
.top-song {
    min-height: var(--view-height);
}

.song-img1 {
    background-image: linear-gradient(to top, hsla(8, 92%, 33%, 0.982), hsla(8, 92%, 33%, 0)), url(../img/biography-images/bio-page-top-song-show.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.top-song-cloumns2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: clamp(15px, 5vw, 20px);
}

.song-img2,
.song-img3,
.song-img4 {
    background-size: cover;
    background-position: center;
}

.song-img2 {
    background-image: url(../img/biography-images/bio-page-top-song-Usseewa.jpg);
}

.song-img3 {
    background-image: url(../img/biography-images/bio-page-top-song-newgenesis.png);
}

.song-img4 {
    background-image: url(../img/biography-images/bio-page-top-song-backlight.jpeg);
}

h1.top-name {
    font-weight: 400;
    padding-bottom: clamp(5px, 5vh, 8px);
}

.top-number {
    font-weight: 400;
}

.song-text2 {
    padding: clamp(30px, 5vh, 35px) 0;
}

@media screen and (max-width:1024px) {
    .bio {
        background-size: 100%;
        background-position-x: -240px;
        background-position-y: bottom;
    }

    /*top song & video*/
    .video-text,
    .song-text1 {
        padding: clamp(20px, 5vh, 25px);
    }

    .grid-container {
        gap: clamp(10px, 5vw, 15px);
    }

    .v-img2 {
        gap: clamp(10px, 5vw, 15px);
    }

    .top-song-cloumns2 {
        gap: clamp(10px, 5vw, 15px);
    }

    .song-text2 {
        padding: clamp(25px, 5vh, 30px) 0;
    }
}

@media screen and (max-width:800px) {
    :root {
        /*height*/
        --data-height: clamp(100px, 30vh, 200px);
    }

    /*bio*/
    .bio {
        background-position-x: center;
        background-position-y: -200px;
        background-size: cover;
    }

    .bio-g {
        background-image: linear-gradient(to top, hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.364), hsla(240, 4%, 11%, 0), hsla(240, 4%, 11%, 0));
    }

    .bio-c {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .bio-text {
        width: 100%;
    }

    /*top song & video*/
    .video-text1 {
        min-height: calc(472px * 0.5);
    }

    .video-text2 {
        min-height: calc(227px * 0.6);
    }

    .video-text,
    .song-text1 {
        padding: clamp(15px, 5vh, 20px);
    }

    .grid-container {
        gap: clamp(5px, 5vw, 10px);
    }

    .top-song-grid {
        grid-template-columns: 1fr;
    }

    .song-img1 {
        min-height: 300px;
        height: 100%;
    }

    .song-text2 {
        display: flex;
        flex-direction: column;
        padding-left: clamp(10px, 5vh, 15px);
        padding-right: clamp(10px, 5vh, 15px);
    }

    .top-song-cloumns2 {
        grid-template-columns: 1fr 1fr;
    }

    .top-song-grid .v-img2 {
        gap: clamp(5px, 5vw, 10px);
    }

    .top-song-cloumns2 {
        gap: clamp(5px, 5vw, 10px);
    }
}

@media screen and (max-width:500px) {
    :root {
        /*height*/
        --data-height: clamp(300px, 30vh, 450px);
    }

    /*data*/
    .data-c {
        padding-top: clamp(15px, 5vh, 25px);
        padding-bottom: clamp(15px, 5vh, 25px);
    }

    .column {
        width: 100%;
    }

    .column-gap {
        margin-bottom: clamp(20px, 5vh, 25px);
    }

    /*top-song & top-video*/
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:300px) {
    .song-text2 {
        padding-left: clamp(5px, 5vh, 8px);
        padding-right: clamp(5px, 5vh, 8px);
    }
}