/*futura font*/
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

* {
    box-sizing: border-box;
}


:root {
    /*height*/
    --hero-height: clamp(500px, 80vh, 700px);
    --view-height: clamp(400px, 85vh, 600px);
    /*color*/
    --font-color: white;
    --background-color: #1b1b1d;
    --accent-color: #5D9DFE;
    --main-color-blue: #07175B;
    --main-color-red: #9F1C07;
}

/*title*/
.bio-title {
    height: var(--hero-height);
    background-image: url(../img/biography-images/bio-page-hero-images.jpeg);
    background-position: center;
    background-size: cover;
}

.title-g {
    background-color: hsla(240, 4%, 11%, 0.621);
    height: var(--hero-height);
    width: 100%;
}

.title-c {
    position: relative;
    top: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*bio*/
.bio {
    background-image: url(../img/biography-images/bio-page-profile.jpg);
    background-size: cover;
    background-size: 110%;
    background-position-x: -400px;
    background-position-y: -350px;
    height: var(--view-height);
}

.bio-g {
    background-image: linear-gradient(to left, hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.263), hsla(240, 4%, 11%, 0.17), hsla(240, 4%, 11%, 0));
    height: var(--view-height);
}

.bio-c {
    min-height: var(--view-height);
    display: flex;
    justify-content: end;
    margin: auto;
}

.bio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: fit-content;
}

.bio-text hr {
    width: 10%;
    text-align: left;
    margin-left: 0;
}

.font-title h2,
h2.font-title {
    margin: 0;
}

.font-title h6,
h6.font-title {
    margin: 0;
    margin-bottom: clamp(10px, 2vw, 30px);
}

.font-body p,
p.font-body {
    line-height: 28px;
}

/*data*/
.data {
    height: clamp(300px, 30vh, 320px);
}

.data-c {
    display: flex;
    height: clamp(300px, 30vh, 320px);
    display: flex;
    background-color: #07175B;
    margin: auto;
}

.column {
    float: left;
    width: 33.33%;
    height: fit-content;
    background-color: #5D9DFE;
}

.data-item {
    text-align: center;
}

.data-number,
.data-title {
    margin: 0px;
}

.data-number {
    line-height: clamp(50px, 5vw, 70px);
    font-weight: 600;
}

.data-title {
    font-weight: 400;
}

/*TOP YOUTUBE VIDEOS*/
.top-video {
    min-height: var(--view-height);
    background-image: url(../img/biography-images/bio-page-top-video-background-images.jpg);
    background-size: cover;
    background-position: center;
}

.video-g {
    background-color: hsla(240, 4%, 11%, 0.685);
}

.video-c,
.song-c {
    padding-top: var(--view-padding);
    padding-bottom: var(--view-padding);
}

.top-title {
    padding-bottom: clamp(20px, 5vh, 25px);
}

.top-row {
    display: grid;
    gap: 15px;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.video-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: clamp(20px, 5vh, 30px);
}

.video-text1 {
    min-height: 472px;
    width: 100%;
    height: auto;
}

.video-text2 {
    min-height: 227px;
}

.font-body h2,
h2.font-body {
    line-height: 60%;
}

.video-img1,
.v-img2 {
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.video-img1 {
    background-image: linear-gradient(to top, hsla(229, 86%, 19%, 0.982), hsla(229, 86%, 19%, 0)), url(../img/biography-images/bio-page-top-video-Usseewa.jpg);
    grid-column: 1;
    grid-row: 1 / span 2;
}

.v-img2 {
    grid-column: 2;
}

.video-img2 {
    background-image: linear-gradient(to top, hsla(229, 86%, 19%, 0.982), hsla(229, 86%, 19%, 0)), url(../img/biography-images/bio-page-top-video-Odo.jpeg);
}

.video-img3 {
    background-image: linear-gradient(to top, hsla(229, 86%, 19%, 0.982), hsla(229, 86%, 19%, 0)), url(../img/biography-images/bio-page-top-video-show.jpg);
}

/*top-song*/
.top-song {
    min-height: var(--view-height);
}

.song-img1 {
    background-image: linear-gradient(to top, hsla(8, 92%, 33%, 0.982), hsla(8, 92%, 33%, 0)), url(../img/biography-images/bio-page-top-song-show.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.top-song-cloumns1 {
    grid-column: 1;
    grid-row: 1/span 3;
}

.song-text1 {
    width: 50%;
    height: 100%;
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: clamp(20px, 5vh, 30px);
}

.top-song-cloumns2 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    gap: clamp(10px, 5%, 20px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.song-img2 {
    background-image: url(../img/biography-images/bio-page-top-song-Usseewa.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    min-height: 210px;
    width: 100%;
    grid-column: 1/span 6;
}

.song-img3 {
    background-image: url(../img/biography-images/bio-page-top-song-newgenesis.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    min-height: 210px;
    width: 100%;
    grid-column: 1/span 6;
}

.song-img4 {
    background-image: url(../img/biography-images/bio-page-top-song-backlight.jpeg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    min-height: 210px;
    width: 100%;
    grid-column: 1/span 6;
}

.song-text2 {
    grid-column: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1.top-song-name,
.top-song-number {
    font-weight: 400;
}

@media screen and (max-width:1024px) {
    .bio {
        background-size: 100%;
        background-position-x: -240px;
        background-position-y: bottom;
    }

    /*video*/
    .video-text {
        padding: clamp(20px, 5vh, 25px);
    }
}

@media screen and (max-width:800px) {
    :root {
        /*height*/
        --data-height: clamp(100px, 30vh, 200px);

        /*padding*/
        --view-padding: clamp(20px, 5vh, 30px);
    }

    /*bio*/
    .bio {
        background-position-x: center;
        background-position-y: -200px;
        background-size: cover;
    }

    .bio-g {
        background-image: linear-gradient(to top, hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.364), hsla(240, 4%, 11%, 0), hsla(240, 4%, 11%, 0));
    }

    .bio-c {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .bio-text {
        width: 100%;
    }

    /*top-video*/
    .video-text {
        padding: clamp(15px, 5vh, 20px);
    }

    /*top-song*/
    .song-text1 {
        min-height: 300px;
    }
}

@media screen and (max-width:500px) {
    :root {
        /*height*/
        --data-height: clamp(300px, 30vh, 450px);
    }


    /*data*/
    .data-c {
        padding-top: clamp(15px, 5vh, 25px);
        padding-bottom: clamp(15px, 5vh, 25px);
    }

    .column {
        width: 100%;
    }

    .column-gap {
        margin-bottom: clamp(20px, 5vh, 25px);
    }

    /*top-song & top-video*/
    .top-row {
        display: flex;
        flex-direction: column;
    }

    .video-text2 {
        min-height: 140px;
    }

    /*top-song*/
    .top-song-cloumns2 {
        grid-column: 1;
    }
}