/*futura font*/
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

* {
    box-sizing: border-box;
}

:root {
    /*font*/
    --title-family: "Noto Serif JP", serif;
    --body-family: 'Futura Std', sans-serif;
    /*height*/
    --hero-height: clamp(400px, 95vh, 1000px);
    --view-height: clamp(400px, 85vh, 1000px);
    /*color*/
    --font-color: white;
    --background-color: #1b1b1d;
    --accent-color: #5D9DFE;
    --main-color-blue: #07175B;
    --main-color-red: #9F1C07;
}

body {
    margin: 0px;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'Futura', 'Noto Serif JP', sans-serif;
}