html {
    background-color: rgba(27, 27, 29, 1);
}

body {
    margin: 0;
}

.frame {
    flex: 1;
    display: flex;
}

.background_image_1 {
    background-image: url("../img/blogdetail-images/blog-detail-image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Noto Serif JP', serif;
    font-size: 64px;
    color: white;
    max-width: 600px;
}

.text {
    color: white;
    max-width: 400px;
}

.text_box {
    background-color: rgba(27, 27, 29, 1);
    color: white;
    max-width: 624px;
    justify-self: end;
    padding: 20px;
    margin-top: 100px;
    margin-right: 144px;
}

.blue_box {
    background-color: rgba(7, 23, 91, 1);
    justify-self: end;
    max-width: 800px;
    max-height: 260px;
    display: flex;
    justify-self: end;
}

.title_1 {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 64px;
    color: white;
    max-width: 600px;
    display: flex;
    justify-self: end;
    margin-right: 144px;
    padding-top: 150px;
}



@media screen and (max-width:800px) {

    .background_image_1 {
        flex-direction: column;
        padding: 16px;
    }

    .text_box {
        max-width: 624px;
        padding: 10px;
        margin-right: 16px;
    }

    .title_1 {
        font-size: 40px;
        font-weight: 700;
    }
}