body {
    background-color: rgba(27, 27, 29, 1);
    color: white;
    margin: 0px;
    padding: 0px;
}

.title {
    font-family: 'Noto Serif JP', serif;
    font-size: 64px;
    max-width: 700px;
}


.title-1 {
    justify-content: flex-start;
}

.text-box {
    background-color: rgba(27, 27, 29, 1);
    justify-content: flex-start;
    max-width: 624px;
}


.container {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-top: 20px;
}