body {
    margin: 0;
    background-color: rgba(27, 27, 29, 1);
    color: #fff;
}

/*copy here to*/
/*Navbar*/
nav {
    background-color: hsl(240, 3%, 6%);
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
    padding: 15px 144px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a {
    color: white;
    text-decoration: none;

}

.nav1 {
    display: flex;
    gap: 55px;
    align-items: center;
}

.arrow {
    transform: rotate(90deg);
    height: 20px;
}

.underline:hover {
    border-bottom: #5D9DFE solid 2px;
    cursor: pointer;
}

/*menu*/
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1px;
}

.submenu1 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1 {
    display: block;
}

.live-news {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1,
.submenu2 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1x;
}

.submenu1 a,
.submenu2 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow,
.menu-item2:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1,
.menu-item2:hover .submenu2 {
    display: block;
}

/*get in touch*/
.get-in-touch {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon :hover,
g:hover circle,
g:hover path {
    fill: #5D9DFE;
}

/*copy until here*/

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    color: #fff;
    padding: 120px;
    margin-top: 50px;
    position: relative;
}

.header-text {
    font-size: 128px;
    font-weight: bold;
    font-family: 'Special Font', serif;
    padding-left: 25px;
}

.header-image {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header-image img {
    max-width: 1500px;
}

.column1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 144px;
    margin-right: 144px;
}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 550px;
    gap: 10px;
    transition: transform 0.5s ease;
}

.frame1:hover {
    transform: scale(1.1);
}

.frame1 img {
    width: 100%;
    height: 300px;
    max-width: 550px;
}

.column2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
    margin-left: 144px;
    margin-right: 144px;
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 350px;
    gap: 10px;
    transition: transform 0.5s ease;
}

.frame2:hover {
    transform: scale(1.1);
}

.frame2 img {
    background-image: url("img/blog\ \ image/");
    width: 100%;
    height: 200px;
    max-width: 350px;
}

.column3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 144px;
    margin-right: 144px;
}

.number-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.button {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #1a1a1a;
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    transition: 0.5s;
    background-color: #5D9DFE;
}

.button.active {
    background-color: #ffffff;
    color: black;
}

/*Desktop footer*/
@font-face {
    font-family: Futura Medium;
    src: url("Futura/FuturaStd-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

div.footer-get-in-touch {
    margin: 10px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
}

div.footer-content {
    margin-left: 144px;
    margin-right: 144px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.footer-first-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.menu {
    display: flex;
}

a.menu-item {
    font-family: Futura Medium;
    color: white;
    font-size: 18px;
}

a.menu-item:hover {
    color: #5D9DFE;
}

a.footer-info {
    font-family: Futura Medium;
    color: white;
    font-size: 16px;
}

div.footer-info {
    margin-right: 35px;
}

a.footer-info:hover {
    color: #5D9DFE;
}

div.footer-info-menu {
    display: flex;
    margin-top: 60px;
}

p.copyright {
    font-family: Futura Medium;
    color: white;
    font-size: 15px;
}

/*End of desktop footer*/


@media screen and (max-width: 768px) {
    .header-text {
        font-size: 48px;
    }

    .header-image {
        height: 250px;
        width: 250px;
    }

    .column1 {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    .column2 {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    .column3 {
        align-items: center;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    .frame2 {
        background-image: url(img/blog\ \ image/);
        background-size: cover;
        background-position: center;
        height: 300px;
        max-width: 550px;
    }

    .frame2 img {
        width: 100%;
        height: 300px;
        max-width: 550px;
    }

    .frame1:hover {
        transform: scale(1.0);
    }

    .frame2:hover {
        transform: scale(1.0);
    }
}