* {
    box-sizing: border-box;
}

html {
    background-color: rgba(27, 27, 29, 1);
    margin-left: 144px;
    margin-right: 144px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (max-width: 80rem) {
    html {
        margin-left: 16px;
        margin-right: 16px;
    }

    .blog_title {
        font-size: 32px;
        text-align: center;
    }

    .card1,
    .card2 {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .card1 img,
    .card2 img {
        width: 100%;
        max-height: auto;
    }

    .card1_date,
    .card2_date {
        font-size: 14px;
        text-align: center;
        display: flex;
        align-items: start;
    }

    .card1_text,
    .card2_text {
        font-size: 24px;
        text-align: center;
        margin-top: 16px;
        display: flex;
        align-items: start;
    }

    .card1 {
        order: -1;
    }

    .container {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 50px;
        gap: 100px;
        order: 2;
    }
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
        width: 33.3333%;
    }

}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }

    html {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.card {
    background-color: rgba(27, 27, 29, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 550px;
}

.card_content {
    background-color: rgba(27, 27, 29, 1);
    margin: 0px;
}

.card_date {
    color: #ffffff;
    font-weight: normal;
    text-transform: capitalize;
    margin-top: 10px;
}

.card_text {
    color: #ffffff;
    font-weight: 900px;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

.number-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.button {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #1a1a1a;
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    transition: 0.5s;
    background-color: #5D9DFE;
}

.button.active {
    background-color: #ffffff;
    color: black;
}

.card1 {
    max-width: 550px;
    max-height: 404px;
    display: flex;
    align-items: start;
}

.card1 img {
    max-width: 550px;
    max-height: 300px;
}

.card1_date {
    color: #ffffff;
    font-weight: normal;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 16px;
}

.card1_text {
    color: #ffffff;
    font-weight: 900;
    font-size: 32px;
    margin-top: 21px;
}

.card2 {
    max-width: 550px;
    max-height: auto;
    display: flex;
    align-items: start;

}

.card2 img {
    max-width: 550px;
    max-height: 739px;
}

.card2_date {
    color: #ffffff;
    font-weight: normal;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 16px;
}

.card2_text {
    color: #ffffff;
    font-weight: 900;
    font-size: 32px;
    margin-top: 21px;
    max-width: 550px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 100px;
}

.blog_title {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 128px;
    color: white;
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    position: absolute;
    left: 144px;
    top: 100px;
}