body {
    background-color: rgba(27, 27, 29, 1);
    color: white;
    margin: 0px;
    padding: 0px;
}

.row {
    padding: 0 50px;
    place-content: center;
}

.container {
    max-width: 1165px;
    margin: 0 auto;
    display: flex;
}



.title-1 {
    justify-content: flex-start;
}

.text-box {
    background-color: rgba(27, 27, 29, 1);
    justify-content: flex-start;
    max-width: 624px;
}