* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*breadcrumb*/
div.breadcrumb {
    background-color: #07175B;
    color: white;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 70px;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 98;
    all: revert;
}

ul.breadcrumb {
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    max-width: 1250px;
    padding: 0px 50px;
    width: 100%;
    all: revert;
}


:root {
    /*color*/
    --font-color: white;
    --background-color: #1b1b1d;
    --accent-color: #5D9DFE;
    --main-color-blue: #07175B;
    --main-color-red: #9F1C07;
    --main-color-white: white;
}

.img1 {
    background-image: url(../img/blogdetail-images/blog-detail-image1.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
}

.img2 {
    background-image: url(../img/blogdetail-images/blog-detail-image2.png);
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url(../img/blogdetail-images/blog-detail-image3.png);
    width: 100%;
    height: 70vh;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin-top: -10%;
}

.img4 {
    background-image: url(../img/blogdetail-images/blog-detail-image4.png);
    width: 100%;
    height: 60vh;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.img5 {
    background-image: url(../img/blogdetail-images/blog-detail-image5.png);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}


.container-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.title {
    color: var(--font-color);
    font-weight: 650;
    width: 50%;
}

.title1 {
    color: var(--font-color);
    font-weight: 650;
    width: 70%;
}


.title2 {
    color: var(--font-color);
    font-weight: 650;
    width: 40%;
}

.text-box {
    background-color: var(--background-color);
    color: var(--font-color);
    width: 50%;
    height: auto;
    font-weight: 400;
    margin-top: 2%;
    padding: 20px;
}

.text1 {
    color: var(--font-color);
    font-weight: 400;
    width: 50%;
    margin-top: 2%;
}

.text2 {
    color: var(--font-color);
    font-weight: 400;
    width: 30%;
}

.frame {
    justify-content: flex-start;
}

.frame2 {
    justify-content: flex-start;
    margin-left: 5%;
}

.container-content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-content2 {
    display: flex;
    justify-content: space-between;
    margin-top: -0%;
}

.container-content3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 10%;
}

.font-body p,
p.font-body {
    font-size: clamp(12px, 2.2vw, 14px);
    margin-bottom: 5%;
}

@media screen and (max-width:1024px) {
    .img1 {
        height: 80vh;
    }


    .img2 {
        background-image: url(../img/blogdetail-images/blog-detail-image2-mobile-size.png);
        height: 50vh;
        background-size: cover;
        background-position: center;
        order: 1;
        margin-top: 5%;
    }


    .img3 {
        background-image: url(../img/blogdetail-images/blog-detail-image3-mobile-size.png);
        height: 50vh;
        background-size: cover;
        background-position: center;
        margin-top: 0%;
        order: 1;
        margin-top: 5%;
    }

    .img4 {
        background-image: url(../img/blogdetail-images/blog-detail-image4-mobile-size.png);
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        order: 1;
        margin-top: 5%;
    }

    .img5 {
        background-image: url(../img/blogdetail-images/blog-detail-image5.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        margin-top: 5%;
    }


    .container-title {
        position: absolute;
        bottom: 5%;
        right: 5%;
        left: 5%;
    }

    .title {
        width: 100%;
    }

    .title1 {
        color: var(--font-color);
        font-weight: 650;
        width: 100%;
    }

    .title2 {
        color: var(--font-color);
        font-weight: 650;
        width: 100%;
    }

    .text-box {
        width: 100%;
        padding: 10px;
    }

    .text1 {
        color: var(--font-color);
        font-weight: 400;
        width: 100%;
        padding-top: 2%;
    }

    .text2 {
        color: var(--font-color);
        font-weight: 400;
        width: 100%;
    }

    .frame {
        margin-top: 2%;
        order: 2;
    }

    .frame2 {
        margin-top: 4%;
        margin-left: 0%;
        order: 2
    }

    .container-content1 {
        display: flex;
        flex-direction: column;
    }

    .container-content2 {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .container-content3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 10%;
    }


}

@media screen and (max-width:800px) {
    .img1 {
        height: 100vh;
    }

    .container-title {
        position: absolute;
        bottom: 2%;
        right: 2%;
        left: 2%;
    }

    .text-box {
        width: 100%;
    }

    .text1 {
        margin-top: 0%;
    }

    .title {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .img2 {
        height: 30vh;
    }

    .img3 {
        height: 30vh;
    }

    .img4 {
        height: 30vh;
    }

}