* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}

/*discography*/
.discographydetails-banner-top {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.5), rgb(27, 27, 29, 1)), url("../img/discographydetails-images/Ado-albumdetails-productalbumimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 80%;
    height: 700px;
}

div.discographydetails-heading {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.discographydetails-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2.discographydetails-headings {
    padding: 0px;
    margin: 0px;
}

h4.discographydetails-subheading {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
}

/*Slider*/
.album-product-showcase {
    margin-top: -30px;
}


.slider-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.swiper {
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: relative;
}

.swiper-slide img {
    width: 100%;
}


.swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #5D9DFE;
}

.swiper-scrollbar {
    opacity: 0;
}

/*price*/


.product-price-toshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 40px 0px;
}

h1.value {
    font-weight: 650;
    padding: 10px 0px;
    margin: 0px;
}

.tax {
    font-weight: 300;
    font-size: clamp(16px, 3vw, 20px);
}

/*product showcase*/
.product-showcase-container {
    background-color: #07175d;
    border: 1px solid white;
    padding: 30px;
}

.product-showcase-info {
    display: flex;
    gap: 25px;
}

.product-showcase-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 3;
}

.included {
    font-weight: 400;
    padding: 10px 0px;
    margin: 0px;
}

ul.details-points {
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
    margin: 0px;
}

.product-showcase-img {
    flex: 2;
}

div.songinclude-banner-img {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), linear-gradient(to top, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), url("../img/discographydetails-images/Ado-albumdetails-songinclude-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 20%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 600px;
    position: relative;
    z-index: -1;
}

/*feature song*/
.feature-section {
    margin-top: -250px;
    margin-bottom: 35px;
}

h4.details-center-heading {
    text-align: center;
    padding: 45px 0px;
    margin: 0px;
}

.song-category-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.song-category-container {
    background-color: #07175d;
    border: 1px solid white;
    padding: 25px;
}

h3.song-category {
    font-weight: 650;
    padding-bottom: 15px;
    margin: 0px;
}

.songs {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;

}

.song-top-row {
    display: flex;
    gap: 15px;
}

.song-bottom-row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.song-container-top-width {
    width: 50%;
}

.song-container-bottom-width {
    width: 49.3%;
}

.song-container {
    background-color: #1b1b1d;
    border: 1px solid white;
    padding: 20px 20px;
    text-align: center;
}

.song-img {
    max-width: 100%;
}

.song-name {
    font-weight: 650;
    padding: 15px 0px 8px 0px;
    margin: 0px;
    font-size: medium;
}

.music-composer {
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

.feature-songs-description {
    font-weight: 400;
    text-align: center;
    padding: 25px 0px;
    margin: 0px;
}





@media screen and (max-width: 1024px) {
    ul.details-points {
        font-size: clamp(16px, 2.5vw, 18px)
    }

    .song-category-section {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

@media screen and (max-width: 800px) {
    ul.details-points {
        font-size: clamp(16px, 2.5vw, 16px);
    }

    .product-showcase-info {
        flex-direction: column-reverse;
    }

    div.songinclude-banner-img {
        height: 500px;

    }


}

@media screen and (max-width: 500px) {
    .swiper {
        max-width: 350px;
    }

    div.songinclude-banner-img {
        height: 400px;

    }

    .song-img {
        min-width: 40%;
    }

    .songs {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .song-top-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .song-bottom-row {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .song-container-top-width {
        width: auto;
    }

    .song-container-bottom-width {
        width: auto;
    }



}