@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}

/*dicography*/
div.discography-banner-img {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.5), rgb(27, 27, 29, 1)), url("../img/dicography-images/Ado-discography-bannner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 35%;
    height: 540px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

/*category*/
ul.discography-category {
    margin: 15px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

li.category-item {
    list-style: none;
}

a.category-item {
    font-family: 'Futura Std', sans-serif;
    font-size: clamp(16px, 3vw, 20px);
    color: white;
    background-color: #1b1b1d;
    text-decoration-line: none;
    padding: 15px 30px;
    border: 1px solid white;
}

a.all-category-item {
    padding: 15px 48px;
}

a.category-item:hover {
    background-color: #5D9DFE;
    transition: 0.3s;
}

a.category-item.active {
    font-weight: 650;
    background-color: #5D9DFE;
}

/*discography content*/
.discography-content {
    padding: 35px 0px 35px 0px;
}

.discography-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.discography-container {
    margin-bottom: 15px;
}

.artwork-container:hover {
    background-color: black;
    border: 1px solid white;
}

.artwork-content {
    flex: 1;
    padding: 15px 15px 0px 15px;
}

a.artwork-link {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
}

div.artwork-description {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 35px;
}

h6.label {
    font-weight: 650;
    background-color: #5D9DFE;
    padding: 10px 20px;
    margin: 15px 0px;
}

h6.date {
    font-weight: 400;
    margin: 15px 0px;

}

div.label-date {
    display: flex;
    align-items: center;
    gap: 14px;
}

h4.artwork-name {
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

p.artwork-version {
    font-weight: 400;
    padding: 8px 0px;
    margin: 0px;
}

div.price {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

h4.value {
    font-weight: 650;
    padding: 10px 0px;
    margin: 0px;
}

.tax {
    font-weight: 300;
    font-size: clamp(16px, 3vw, 20px);
}


hr.artwork-bottom-line {
    position: relative;
    top: 9.46px;
}

.artwork-nineth {
    display: block;
}

/*number buttons*/
.number-buttons {
    display: flex;
}

.number-page-buttons {
    display: flex;
    gap: 10px;
}

.page-button {
    font-family: var(--body-family);
    color: var(--font-color);
    border: 2px solid rgb(255, 255, 255);
    background-color: #1a1a1a;
    color: rgba(217, 217, 217, 1);
    font-size: clamp(14px, 1.8vw, 18px);
    padding: clamp(10px, 2vw, 15px) clamp(16px, 3vw, 24px);
    cursor: pointer;
}

.page-button:hover {
    transition: 0.5s;
    background-color: #5D9DFE;
}

.page-button.active {
    background-color: #ffffff;
    color: black;
    font-weight: 700;
    font-size: large;
}

.page-button-icon {
    padding: clamp(10px, 2vw, 15px) clamp(12px, 2.5vw, 17px);
}

.page-button-arrow {
    display: inline-block;
    transform: rotate(-90deg);
    font-size: x-large;
}

@media (max-width:1000px) {

    /*category item*/
    a.category-item {
        font-size: clamp(14px, 2.5vw, 18px);

    }

    a.all-category-item {
        font-size: clamp(14px, 2.5vw, 18px);
    }

    /*artwork*/
    .discography-section {
        grid-template-columns: auto auto;
    }

    .artwork-nineth {
        display: none;
    }

    /*page button*/
    .page-button-arrow {
        font-size: large;
    }



}

@media (max-width:800px) {
    a.category-item {
        font-size: clamp(12px, 2.5vw, 16px);

    }

    a.all-category-item {
        font-size: clamp(12px, 2.5vw, 16px);
    }
}

@media (max-width:500px) {
    div.discography-banner-img {
        height: 380px;
    }

    a.category-item {
        font-size: clamp(12px, 2.2vw, 16px);
        padding: 15px 25px;

    }

    a.all-category-item {
        font-size: clamp(12px, 2.2vw, 16px);
        padding: 15px 35px;
    }

    .discography-section {
        grid-template-columns: auto;
    }

    .artwork-nineth {
        display: block;
    }
}