* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*height*/
    --hero-height: clamp(400px, 95vh, 1000px);
    --view-height: clamp(400px, 85vh, 1000px);

    /*color*/
    --font-color: white;
    --background-color: #1b1b1d;
    --accent-color: #5D9DFE;
    --main-color-blue: #07175B;
    --main-color-red: #9F1C07;
    --main-color-white: white;
}

/*hero-image*/
.hero-image {
    background-image: url(../img/home-images/homepage-worldtour.jpeg);
    height: var(--hero-height);
    background-size: cover;
    background-size: 135%;
    background-position-x: 250px;
    background-position-y: -400px;
    background-repeat: no-repeat;
    font-family: var(--title-family);
}

.hero-g {
    background-image: linear-gradient(to right, hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.957), hsla(240, 4%, 11%, 0.403), hsla(240, 4%, 11%, 0), hsla(240, 4%, 11%, 0));
    height: var(--hero-height);
}

.hero-c {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-text {
    min-height: fit-content;
    max-width: fit-content;
}

.font-title h1,
h1.font-title {
    line-height: 1.2;
}

.font-title h5,
h5.font-title {
    font-weight: 400;
    margin-bottom:
}


@media screen and (max-width:1024px) {

    /*home*/
    .hero-image {
        background-size: 150%;
        background-position-x: 100px;
        background-position-y: -300px;
        background-repeat: no-repeat;
    }

    .hero-g {
        background-image: linear-gradient(to right, hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.986), hsla(240, 4%, 11%, 0.403), hsla(240, 4%, 11%, 0), hsla(240, 4%, 11%, 0));
    }
}

@media screen and (max-width:800px) {

    /*home*/
    :root {
        --hero-height: 70vh;
        --view-height: 100vh;
    }

    .hero-g {
        background-image: linear-gradient(to top, hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.97), hsla(240, 4%, 11%, 0.859), hsla(240, 4%, 11%, 0.403), hsla(240, 4%, 11%, 0), hsla(240, 4%, 11%, 0));
        min-height: var(--hero-height);
    }

    .hero-image {
        min-height: var(--hero-height);
        background-position-y: -70px;
        background-position-x: center;
    }
}

@media screen and (max-width:480px) {}