* {
    box-sizing: border-box;
}

:root {
    /*color*/
    --font-color: white;
    --background-color: #1b1b1d;
    --accent-color: #5D9DFE;
    --main-color-blue: #07175B;
    --main-color-red: #9F1C07;
    --main-color-white: white;
}

/*title*/
.live-hero-image {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../img/live-images/livepage-herobackground.jpeg);
    background-size: cover;
    background-size: 120%;
    background-position-y: -400px;
    background-repeat: no-repeat;
}

.live-hero-g {
    background-image: linear-gradient(to top, hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.957), hsla(240, 4%, 11%, 0.403), hsla(240, 4%, 11%, 0), hsla(240, 4%, 11%, 0));
}

.live-title {
    min-height: clamp(500px, 75vh, 600px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.font-title h1,
h1.font-title {
    line-height: 1.2;
}


/*live-card*/
.live-card {
    min-height: clamp(400px, 75vh, 700px);
    display: flex;
    position: relative;
}

.live-card-hover:hover .info-box-hover {
    border: var(--main-color-white) 2px solid;
    transition: all 0.1s ease;
    cursor: pointer;
}

/*live image*/
.live-image {
    width: 70%;
    min-height: clamp(400px, 70vh, 800px);
    height: 100%;
    background-size: 100%;
    background-size: cover;
}


.live1 {
    background-image: url(../img/live-images/livepage-live1-hibana.webp);
    background-position-y: top;
    background-position-x: center;
}

.live2 {
    background-image: url(../img/live-images/livepage-live2-Kanagawa.jpeg);
    background-position-y: center;
}

.live3 {
    background-image: url(../img/live-images/livepage-live3-kinzo.jpg);
    background-position-y: -60px;
    background-position-x: center;
}

.live4 {
    background-image: url(../img/live-images/livepage-live4-expo.jpeg);
    background-position-y: -200px;
    background-position-x: center;
}

.live5 {
    background-image: url(../img/live-images/livepage-live5-fukuoka.jpg);
    background-size: cover;
    background-size: 100%;
    background-position-y: -20px;
    background-position-x: center;
}


/*date*/
.date {
    display: flex;
    align-items: center;
    gap: clamp(5px, 5vw, 10px);
}

.date-icon {
    max-width: 25px;
}

.date-font {
    margin: 0px;
    font-weight: 300;
}


.overlay {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: clamp(300px, 70vh, 600px);
    width: 100%;
}

.info-box {
    padding: clamp(35px, 3vw, 40px) clamp(25px, 5vw, 30px);
    background-color: var(--background-color);
    width: 55%;
    height: fit-content;
}

.info-box-kinzo {
    padding: clamp(60px, 3vw, 50px) clamp(25px, 5vw, 30px);
}

.font-body h2,
h2.font-body {
    font-weight: 650;
    margin: 10px 0;
}

.breif-font {
    font-weight: 500;
    margin: clamp(15px, 5vw, 20px) 0px;
}

.kinzo {
    padding-bottom: clamp(10px, 3vw, 20px);
}

.blue-button {
    float: right;
}

.button-no-hover:hover {
    background-color: var(--main-color-blue);
    cursor: auto;
}

.live-card-hover :hover button {
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--accent-color);
    color: var(--main-color-white);
}

@media screen and (max-width:1024px) {
    .live-hero-image {
        background-size: 130%;
        background-position-y: -300px;
        background-repeat: no-repeat;
    }

    .breif-font {
        font-weight: 500;
        margin: clamp(10px, 5vw, 15px) 0px;
    }
}

@media screen and (max-width:900px) {

    /*title*/
    .live-hero-image {
        background-size: 150%;
        background-position-y: center;
    }

    .live-title {
        min-height: clamp(400px, 50vh, 600px);
    }

    .live-card {
        min-height: clamp(500px, 90vh, 800px);
    }

    .live-image {
        width: 100%;
        min-height: clamp(400px, 75vh, 700px);
    }

    .overlay {
        display: flex;
        flex-direction: column;
        min-height: clamp(400px, 85vh, 700px);
    }

    .info-box {
        width: 100%;
        padding: clamp(25px, 5vw, 20px) clamp(25px, 3vw, 20px);
    }
}

@media screen and (max-width:500px) {

    /*title*/
    .live-hero-image {
        background-size: 220%;
        background-position-y: center;
        background-position-x: -90px;
    }

    .font-body h2,
    h2.font-body {
        margin: 20px 0;
    }

    .live-card {
        min-height: clamp(500px, 75vh, 800px);
    }

    .live-image {
        width: 100%;
        min-height: clamp(400px, 70vh, 700px);
    }

    .overlay {
        display: flex;
        flex-direction: column;
        min-height: clamp(400px, 70vh, 700px);
    }

    .info-box {
        padding: clamp(20px, 5vw, 15px) clamp(15px, 3vw, 10px);
    }

    /*image*/
    .live1,
    .live2,
    .live3,
    .live4,
    .live5 {
        background-position-y: top;
        background-position-x: center;
    }

    .live5 {
        background-size: 110%;
    }
}