* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}

/*news*/
.news-herobannerimg-top {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.4), rgb(27, 27, 29, 1)), url("../img/news-images/Ado-news-herobanner-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 80%;
    height: 680px;
}

div.news-heading-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


h1.news-heading {
    padding: 0px;
    margin: 0px;
}

h4.news-subheading {
    margin: 50px 0px 20px 0px;
}

/*latest*/
.latest-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.news1-side {
    display: grid;
    grid-template-columns: auto;
}

img.news1-side-mobile {
    display: none;
}

div.news-content {
    background-color: #07175B;
    border: 1px solid #07175B;
    padding-left: 20px;
    padding-right: 20px;
}

div.news-content-interactable:hover {
    background-color: #0F0F10;
    border: 1px solid white;
    transition: all 0.3s ease;
}

h6.news-description {
    font-weight: 650;
    margin: 15px 0px;
}

h6.latest-news {
    font-size: x-large;
}

.right-column {
    flex: 2;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}



/*release*/
div.release-banner-img-top {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.4), rgb(27, 27, 29, 1)), linear-gradient(to top, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.4), rgb(27, 27, 29, 1)), url("../img/news-images/Ado-news-release-banner-redgreenlookback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    margin-top: -20px;
}

.release-section {
    margin-top: -140px;
}

.all-release-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.release-left-column {
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}

.release-right-column {
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
}

a.release-content {
    display: flex;
    padding: 20px 0px;
}

.release-tablet {
    display: none;
}

img.release-img {
    width: auto;
    height: auto;
    max-width: 40%;
    object-fit: cover;
    margin-right: 25px;
}

.mobile-release-img {
    display: none;
}

div.release-banner-img-bottom {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), url("../img/news-images/Ado-news-release-banner-bottom-holdingflowergallerybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    width: 100%;
    height: 400px;
    margin-top: -80px;

}

div.more-button {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

@media screen and (max-width: 1024px) {

    /*latest*/
    .latest-content {
        display: block;
        margin-bottom: 15px;
    }

    img.news1-side-desktop {
        display: none;
    }

    img.news1-side-mobile {
        display: block;
    }

    .news1-side {
        margin-bottom: 15px;
    }


    /*release*/
    .release-desktop {
        display: none;
    }

    .release-tablet {
        display: flex;
    }

    .all-release-content {
        display: flex;
        flex-direction: column;

    }

    .release-right-column {
        display: grid;
        grid-template-columns: auto auto;
    }

    .release-img {
        display: none;
    }

    .mobile-release-img {
        display: block;
    }

    a.release-content {
        display: flex;
        padding: 0px;
    }

}

@media screen and (max-width: 800px) {
    .news-banner-top {
        height: 600px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    div.right-column {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .release-right-column {
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
    }
}

@media screen and (max-width: 500px) {
    .news-banner-top {
        height: 500px;
    }

    div.release-banner-img1 {
        height: 350px;
        margin-top: -10px;
    }

    div.release-banner-img-bottom {
        height: 350px;
    }
}