@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Serif+JP:wght@200..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}

.nav,
.navbar,
.navbar1,
.social,
.navbar1,
.links,
.submenu {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*menu*/
a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #0f0f10;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    z-index: 99;
}

nav .navbar {
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.logo {
    height: 100%;
    line-height: 95px;
}

.logo img {
    height: 40px;
}

.sidebarlogo,
.ri-menu-line {
    display: none;
}

.social {
    display: flex;
    column-gap: 10px;
}

.social i {
    font-size: 30px;
}

.social i:hover {
    color: #5D9DFE;
    transition: color 0.3s ease;
}

.navbar1 {
    display: flex;
    line-height: 70px;
    height: 100%;
}

nav .navbar .nav-links .links li a:hover {
    text-decoration: underline;
    text-decoration-color: #5D9DFE;
    text-decoration-thickness: 1.5px;
    transition: all 0.3s ease;
}

nav .navbar .nav-links .links {
    display: flex;
    margin-left: 10px;
}

nav .navbar .nav-links .links li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .nav-links .links li a {
    white-space: nowrap;
    height: 100%;
    font-size: 16px;
}


nav .navbar .nav-links .links li .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    line-height: 70px;
    transform: all 0.3s ease;
}

nav .navbar .nav-links .links li:hover .about-arrow,
nav .navbar .nav-links .links li:hover .live-news-arrow {
    transform: rotate(180deg);
}

.navbar .nav-links .links .submenu {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #0f0f10;
    width: fit-content;
    line-height: 40px;
    display: none;
}

.navbar .nav-links .links .live-news-sub-menu {
    width: 100%;
}

.navbar .nav-links .links .submenu li {
    padding: 0 22px;
}

.navbar .nav-links .links li:hover .about-sub-menu,
.navbar .nav-links .links li:hover .live-news-sub-menu {
    display: block;
}

.navbar .nav-links .links .submenu li:hover {
    border-bottom: #5D9DFE 2px solid;
    transition: all 0.1s ease;
}

.navbar .nav-links .links .submenu a:hover {
    text-decoration: none;
}


@media (max-width:1090px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 45px;
    }

    nav .navbar .nav-links .links li {
        padding: 0 8px;
    }

    nav .navbar .nav-links .links li a {
        font-size: 15px;
    }

    .logo img {
        height: 34px;
    }

    .logo {
        line-height: 85px;
    }

    .social i {
        font-size: 28px;
    }
}

@media (max-width:800px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .nav-links {
        display: block;
        position: fixed;
        background-color: #1b1b1d;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        max-width: 270px;
        padding: 20px;
        transition: left 0.5s ease-in-out;
        z-index: 100;
        line-height: 50px;
        font-size: 18px;
    }

    .arrow {
        display: inline-block;
        padding: 3px 0px;
        cursor: pointer;
    }


    nav .navbar .nav-links .links li .arrow {
        line-height: 0px;
    }

    .navbar1 {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    nav .navbar .nav-links .sidebarlogo {
        display: flex;
        align-items: center;
        line-height: normal;
        justify-content: space-between;
    }

    nav .navbar .nav-links .sidebarlogo img {
        height: 30px;
    }

    nav .navbar .nav-links .sidebarlogo .ri-close-line {
        cursor: pointer;
        font-size: 30px;
    }

    .navbar .nav-links .links li a,
    .navbar .nav-links .links li a.arrow {
        color: white;
        transition: color 0.3s ease;
    }

    .navbar .nav-links .links li a:hover,
    .navbar .nav-links .links li a:hover .arrow {
        color: #5D9DFE;
    }

    nav .navbar .nav-links .sidebarlogo .ri-close-line:hover,
    nav .navbar .ri-menu-line:hover,
    nav .navbar .nav-links .links li a:hover {
        color: #5D9DFE;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    nav .navbar .navbar1 .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    .ri-menu-line {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    nav .navbar .nav-links .links li {
        display: block;
    }

    .navbar .nav-links .links .submenu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        background-color: #1b1b1d;
    }

    .navbar .nav-links .links li:hover .about-sub-menu,
    .navbar .nav-links .links li:hover .live-news-sub-menu {
        display: block;
    }

    .navbar .nav-links .links .submenu li:hover {
        border-bottom: none;
    }

    .navbar .nav-links .links li:hover .about-arrow,
    .navbar .nav-links .links li:hover .live-news-arrow {
        transform: rotate(0deg);
    }

    .navbar .nav-links .show1 .links .submenu.about-sub-menu {
        display: block;
    }

    .navbar .nav-links .show2 .links .submenu.live-news-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links li .about-arrow,
    .navbar .nav-links.show2 .links li .live-news-arrow {
        transform: rotate(180deg);
    }

    .social i {
        font-size: 30px;
    }

    .social {
        column-gap: 5px;
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }

    .social i {
        font-size: 28px;
    }
}

/*news details content*/
div.newsdetails-banner {
    margin-top: 100px;
}

div.newsdetails-banner-img1 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.1), rgb(27, 27, 29, 1)), url("../img/newsdetails-images/Ado-newsdetails-banner-wfilter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -60px;

}

h1.heading {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

h3.subheading {
    font-size: 32px;
    margin: 0px;
    padding: 15px;
}

div.release-label-date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 15px;
    padding-bottom: 10px;
}

h4.label {
    margin: 0px;
    font-family: 'Futura Std', sans-serif;
    font-weight: 650;
    background-color: #5D9DFE;
    padding: 10px 20px;

}

h4.date {
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
}

/*info*/

div.info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    display: flex;
    flex: 1;
    gap: 30px;
    align-items: center;
}

div.details-live {
    display: flex;
    flex: 1;

}

div.details-description {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.description {
    padding: 0px;
}

h3.details-live-title {
    font-size: 47px;
    margin-top: 0px;
    margin-bottom: 20px;

}

h4.details-live-subtitle {
    font-family: 'Futura Std', sans-serif;
    font-weight: 650;
    font-size: 22px;
    margin: 15px;
}

ul.details-points {
    font-family: 'Futura Std', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0px;
}

/*product version*/
div.product-section1 {
    background-image: linear-gradient(to top, #1b1b1d, #07175d, #1b1b1d);
    margin-top: 60px;
}

div.product {
    margin-left: 10%;
    margin-right: 10%;
}

h3.details-title {
    font-size: 47px;
    text-align: center;
}

.limited-mobile {
    display: none;
}

.limited {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
}

div.blu-ray,
div.dvd {
    flex: 1;
    font-family: 'Futura Std', sans-serif;
    background-color: #1b1b1d;
    border: 1px solid white;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

div.blu-ray-2,
div.dvd-2 {
    flex: 1;
    font-family: 'Futura Std', sans-serif;
    background-color: #07175d;
    border: 1px solid white;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}


h4.ver-caption {
    font-weight: 650;
    font-size: 22px;
    margin-bottom: 15px;
}

div.price {
    display: flex;
    gap: 10px;
    margin-bottom: -10px;
}

h5.price {
    font-weight: 400;
    font-size: 22px;
    margin: 0px;
    padding: 0PX;
}

h5.value {
    font-weight: 650;
    font-size: 22px;
    margin: 0px;
    padding: 0PX;
}

.product-info {
    font-weight: 400;
    font-size: 18px;
}

.included {
    margin-bottom: -10px;
}

img.first-limited {
    max-width: 35%;
}

div.ver-title {
    text-align: center;
}

h4.ver-title {
    font-family: 'Futura Std', sans-serif;
    font-weight: 650;
    font-size: 26px;
}

div.product-section2 {
    margin-top: 100px;
}

/*feature song*/
div.featuresong-banner-img1 {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), linear-gradient(to top, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), url("../img/newsdetails-images/Ado-newsdetails-banner-feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 20%;
    max-width: 100vw;
    width: 100%;
    height: 400px;
}

.feature-section {
    margin-top: -100px;
    margin-left: 10%;
    margin-right: 10%;
}

.songs {
    display: flex;
    gap: 15px;
}

.song-container {
    font-family: 'Futura Std', sans-serif;
    background-color: #1b1b1d;
    border: 1px solid white;
    padding: 20px 20px;
    text-align: center;
}

.song-img {
    max-width: 100%;
}

.name {
    font-weight: 650;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.music {
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

/*notes section*/

.notes-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 128px;
    display: flex;
    flex: 1;
    gap: 30px;
    align-items: center;
}

.ado-shop {
    margin-top: 35px;
}

a.to-ado-shop {
    color: #5D9DFE;
    font-size: 24px;
    text-decoration: underline;
}

a.to-ado-shop:hover {
    color: white;
}

@media screen and (max-width: 1200px) {

    /*info*/
    h3.details-live-title,
    .details-title {
        font-size: 40px;
        margin-bottom: 20px;

    }

    h4.details-live-subtitle {
        font-size: 18px;
        margin: 15px;
    }

    ul.details-points {
        font-size: 18px;
        margin: 0px;
    }

    /*product version*/
    h4.ver-caption {
        font-size: 18px;
    }

    h5.price {
        font-size: 18px;
    }

    h5.value {
        font-size: 18px;
    }

    .product-info {
        font-size: 15px;
    }

    h3.details-title {
        font-size: 40px;
        margin-bottom: 20px;

    }

    .limited {
        margin-top: 0px;
    }

}

@media screen and (max-width: 900px) {
    div.info {
        flex-direction: column;
    }

    h3.details-live-title {
        text-align: center;

    }

    .first-limited-mobile {
        display: flex;
    }

    img.first-limited-mobile {
        width: 50%;
    }

    div.limited-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .limited-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-limited {
        display: none;
    }

    div.limited {
        flex: 1;
    }

    /*feature song*/
    .songs {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    /*notes*/
    .notes-section {
        flex-direction: column-reverse;
    }

    .ado-shop {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {

    /*news details content*/
    div.newsdetails-banner-img1 {
        display: none;
    }

    div.newsdetails-banner-img1 {
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), url("../img/newsdetails-images/Ado-newsdetails-banner-wfilter-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
    }

    header {
        margin-left: 5%;
        margin-right: 5%;
    }

    h1.heading {
        font-size: 42px;
    }

    h3.subheading {
        font-size: 28px;
        padding: 15px;
    }

    .ver-title-mobile {
        margin-bottom: 0px;
    }

    .limited {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    div.blu-ray,
    div.dvd {
        margin-left: 45px;
        margin-right: 45px;
    }

    div.blu-ray-2,
    div.dvd-2 {
        margin-left: 45px;
        margin-right: 45px;
    }

}