body {
    background-color: rgba(27, 27, 29, 1);
    color: white;
    margin: 0px;
    padding: 0px;
}


.frame {
    position: absolute;
    bottom: 50px;
    width: 100%;
    align-items: center;
    box-sizing: content-box;
}

.title-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 650;
    box-sizing: border-box;
    width: 80%;
    word-wrap: break-word;
    margin: 0 15%;
}

.title-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
    width: 60%;
    word-wrap: break-word;
    gap: 32px;
    margin-left: 15%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 144px;
    overflow: hidden;
}

.product-item {
    width: 100%;
    height: auto;
    margin: 0;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.product-item-content {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word;
}

.product-item-price {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word;
}

.content-alignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.number-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.button {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #1a1a1a;
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    transition: 0.5s;
    background-color: #5D9DFE;
}

.button.active {
    background-color: #ffffff;
    color: black;
}

/*
    <h2 class="font-title">heading1</h2>
    <h4 class="font-title">heading4</h4>
 */

/*
 <h2 class="font-body">heading2</h2>
 <h3 class="font-body">heading3</h3>
 */

.font-title h2,
h2.font-title {
    font-size: clamp(32px, 4.5vw, 56px);
    font-weight: 650;
    margin: 0;
    width: 100%;
    margin-top: 30%;
}


.font-title h4,
h4.font-title {
    font-size: clamp(20px, 3vw, 36px);
    font-weight: 650;
    margin: 0;
    width: 80%;
}

.font-body h2,
h2.font-body {
    font-size: clamp(20px, 4vw, 24px);
}

.font-body h3,
h3.font-body {
    font-size: clamp(18px, 3.5vw, 22px);
}


@media screen and (max-width:1024px) {
    body {
        margin: 0px;
        padding: 0px;
    }

    .title-image {
        height: 70vh;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .product-container {
        padding: 0 25px;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        margin: 0 25px;
    }

    .title-content {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        margin: 0 25px;
    }

    .frame {
        justify-content: flex-start;
        position: absolute;
        bottom: 300px;
        width: 100%;
        margin: 0 16px;
    }


}

@media (max-width: 768px) {
    .product-item {
        flex: 1 1 calc(100%);
        max-width: calc(100%);
        display: flex;
        flex-direction: column;
    }

}