body {
    background-color: rgba(27, 27, 29, 1);
    color: white;
    margin: 0px;
    padding: 0px;
}

.title-image {
    background-image: url("../img/peripheral-products-images/title-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
    position: relative;
}


.title {
    font-weight: 650;
    position: absolute;
    bottom: 20%;
}

.title-content {
    align-items: center;
    position: absolute;
    bottom: 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    gap: 20px;
    margin-bottom: 5%;
    overflow: hidden;
}

.product-item {
    width: 100%;
    height: auto;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.product-item-content {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word;
}

div.price {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.product-item-price {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word;
}

.content-alignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}


/*
    <h2 class="font-title">heading1</h2>
    <h4 class="font-title">heading4</h4>
 */

/*
 <h2 class="font-body">heading2</h2>
 <h3 class="font-body">heading3</h3>
 */

.font-title h2,
h2.font-title {
    font-size: clamp(32px, 4.5vw, 56px);
    font-weight: 650;
    margin: 0;
    width: 100%;
    margin-top: 30%;
}


.font-title h4,
h4.font-title {
    font-size: clamp(20px, 3vw, 36px);
    font-weight: 650;
    margin: 0;
    width: 80%;
}

.font-body h2,
h2.font-body {
    font-size: clamp(20px, 4vw, 24px);
    font-weight: 600;
}

.font-body h3,
h3.font-body {
    font-size: clamp(18px, 3.5vw, 22px);
    font-weight: 400;
}


@media screen and (max-width:1024px) {
    .title-image {
        height: 70vh;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 40%;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        margin: 0 25px;
        bottom: 28%;
        left: 0;
    }

    .title-content {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        margin: 0 25px;
        left: 0;
    }

    .frame {
        justify-content: flex-start;
    }


}

@media (max-width: 800px) {
    .product-item {
        flex: 1 1 calc(100%);
        max-width: calc(100%);
        display: flex;
        flex-direction: column;
    }

    .title {
        margin: 0 25px;
        bottom: 20%;
        left: 0;
    }

    .title-content {
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}