/*futura font*/
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    background-color: hsl(240, 4%, 11%);
    color: rgb(255, 255, 255);
    margin: 0px;
}

/*copy here to*/
/*Navbar*/
nav {
    background-color: hsl(240, 3%, 6%);
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
    padding: 15px 144px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a {
    color: white;
    text-decoration: none;

}

.nav1 {
    display: flex;
    gap: 55px;
    align-items: center;
}

.arrow {
    transform: rotate(90deg);
    height: 20px;
}

.underline:hover {
    border-bottom: #5D9DFE solid 2px;
    cursor: pointer;
}

/*menu*/
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1px;
}

.submenu1 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1 {
    display: block;
}

.live-news {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1,
.submenu2 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1x;
}

.submenu1 a,
.submenu2 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow,
.menu-item2:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1,
.menu-item2:hover .submenu2 {
    display: block;
}

/*get in touch*/
.get-in-touch {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon :hover,
g:hover circle,
g:hover path {
    fill: #5D9DFE;
}

/*copy until here*/

/*content*/
.content {
    margin-top: 0px;
}


/* hero*/
.hero-image {
    background-image: url(img/home-images/hibana.jpeg);
    height: 560px;
    background-position: 30% 21%;
    font-family: "Noto Serif JP", serif;
}

.hero-text {
    background-image: linear-gradient(to right, hsl(240, 4%, 11%), hsla(240, 4%, 11%, 0.98), hsla(240, 4%, 11%, 0.957), hsla(240, 4%, 11%, 0.494), hsla(240, 4%, 11%, 0.027), hsla(240, 4%, 11%, 0));
    height: 560px;
    align-content: flex-end;
    bottom: 10px;
    padding: 0px 0px 0px 144px;
}

.hero-text h1 {
    margin: 0px;
    font-size: 128px;
    line-height: 105%;
}

.hero-text h4 {
    font-size: 39px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 30px;
}

.blue-button {
    background-color: #07175B;
    border: #07175B 1px;
    border-radius: 3px;
    color: white;
    font-weight: 650;
    font-family: 'Futura Std', sans-serif;
    font-size: 19px;
    padding: 15px 37px;
}

.hero-text .blue-button {
    margin: 0px 0px 85px 0px;
}

.blue-button:hover {
    background-color: #5D9DFE;
    cursor: pointer;
}

/*live & news*/
.live {
    background-image: url(img/home-images/expo.jpeg);
    height: 700px;
    background-size: auto 320%;
    background-position: 1% 23%;
    background-repeat: no-repeat;
    font-family: "Noto Serif JP", serif;
}

.live-text {
    background-image: linear-gradient(to left, hsl(229, 86%, 19%), hsl(229, 86%, 19%, 0.98), hsla(229, 86%, 19%, 0.785), hsla(229, 86%, 19%, 0.308), hsl(229, 86%, 19%, 0.027), hsl(229, 86%, 19%, 0));
    height: 700px;
    align-content: center;
    justify-items: end;
    gap: 30px;
    padding: 0px 144px 0px 0px;
}

.title1 {
    width: 583px;
    text-align: center;
    padding-bottom: 30px;
}

.title1 h1 {
    font-size: 48px;
    line-height: 30%;
}

.item-box {
    display: flex;
    align-items: center;
    width: 583px;
    background-color: hsl(240, 4%, 11%);
    margin-bottom: 30px;
    gap: 20px;
    border: white solid 2px;
    font-family: 'Futura Std', sans-serif;
}

.item-box:hover {
    background-color: #5d9dfee3;
    cursor: pointer;
}

.item {
    display: flex;
    font-size: 23px;
    align-items: center;
    padding: 20px 20px 20px 5px;
}

.item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    border-right: white solid 2px;
    padding: 20px;
    text-align: center;
}

.date .day {
    font-size: 27px;
    font-weight: 650;
}

.date .mm-yyyy {
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
    width: 73px;
    font-weight: 500;
    margin-top: 3px;
}

.black-button {
    background-color: #1b1b1d;
    border: #1b1b1d 1px;
    border-radius: 3px;
    color: white;
    font-weight: 650;
    font-size: 19px;
    font-family: 'Futura Std', sans-serif;
    padding: 15px 37px;
}

.black-button:hover {
    background-color: #5D9DFE;
    cursor: pointer;
}

/*discography*/

.discography {
    padding: 80px 144px;
}

.title2 {
    padding-bottom: 50px;
}

.title2 h1 {
    font-size: 48px;
    line-height: 30%;
}

.card-box {
    display: flex;
    gap: 30px;
}

.card {
    background-color: #07175B;
    max-width: 392px;
    min-width: auto;
    justify-items: center;
    padding: 25px 25px 22px 25px;
}

.card:hover,
.card:hover .readmore {
    background-color: #5D9DFE;
    cursor: pointer;
}

.intro {
    display: flex;
    min-width: 341px;
    gap: 20px;
    font-family: 'Futura Std', sans-serif;
    font-size: 19px;
    padding-top: 20px;
    line-height: 19px;
    margin: 0px;
}

.detail div {
    min-width: 250px;
}

.name {
    margin-bottom: 16px;
}

.readmore {
    background-color: #1b1b1d;
    border: 2px solid white;
    width: 55px;
    height: 50px;
    padding: 8px 8px 8px 3px;
}

.right-bottom-button {
    text-align: end;
    margin-top: 30px;
}

/* news*/
.news {
    background-image: url(img/home-images/live\ 3.jpg);
    height: 700px;
    background-size: auto 450%;
    background-position: 1% 20%;
    background-repeat: no-repeat;
    font-family: "Noto Serif JP", serif;
}

.news-text {
    background-image: linear-gradient(to right, hsl(8, 92%, 33%), hsl(8, 92%, 33%, 0.98), hsla(8, 92%, 33%, 0.785), hsla(8, 92%, 33%, 0.308), hsl(8, 92%, 33%, 0.027), hsl(8, 92%, 33%, 0));
    height: 700px;
    align-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 0px 0px 144px;
}

.news-button {
    width: 583px;
    text-align: end;
}

/*store*/

.store {
    padding: 80px 144px;
}

.store-row {
    display: flex;
    gap: 27px;
}

.store-column1,
.store-column2,
.store-column3 {
    background-size: 100%;
    width: 392px;
    height: 480px;
}

.store-column1 {
    background-image: url(img/home-images/doll.png);
}

.store-column2 {
    background-image: url(img/home-images/t-shirt.png);
}

.store-column3 {
    background-image: url(img/home-images/stand.png);
}

.store-card {
    font-family: 'Futura Std', sans-serif;
    font-size: 23px;
    background-image: linear-gradient(to top, hsl(8, 92%, 33%), hsl(8, 92%, 33%, 0.98), hsla(8, 92%, 33%, 0.785), hsla(8, 92%, 33%, 0.308), hsl(8, 92%, 33%, 0.027), hsl(8, 92%, 33%, 0));
    display: flex;
    align-items: flex-end;
    width: 392px;
    height: 480px;
}

.store-text {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 23px;
}

.store-column1:hover .store-text img {
    background-color: #5D9DFE;
}

.store-column2:hover .store-text img {
    background-color: #5D9DFE;
}

.store-column3:hover .store-text img {
    background-color: #5D9DFE;
}

.store-button {
    background-color: #9F1C07;
    border: #9F1C07 1px;
    border-radius: 3px;
    color: white;
    font-weight: 650;
    font-family: 'Futura Std', sans-serif;
    font-size: 19px;
    padding: 15px 37px;
}

.store-button:hover {
    background-color: #5D9DFE;
    cursor: pointer;
}