/*futura font*/
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body {
    background-color: rgba(27, 27, 29, 1);
    color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0px;
}

/*copy here to*/
/*Navbar*/
nav {
    background-color: rgba(15, 15, 16, 1);
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
    padding: 15px 144px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a {
    color: white;
    text-decoration: none;

}

.nav1 {
    display: flex;
    gap: 55px;
    align-items: center;
}

.arrow {
    transform: rotate(90deg);
    height: 20px;
}

.underline:hover {
    border-bottom: #5D9DFE solid 2px;
}

/*menu*/
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

#about {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu1 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1x;
}

.submenu1 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1 {
    display: block;
}

#live-news {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu2 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.submenu2 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item2:hover .arrow {
    transform: rotate(270deg);
}

.menu-item2:hover .submenu2 {
    display: block;
}

/*get in touch*/
.get-in-touch {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon :hover {
    fill: #5D9DFE;
}

g:hover circle {
    fill: #5D9DFE;
}

g:hover path {
    fill: #5D9DFE;
}

/*copy until here*/

/*content*/
.content {
    margin-top: 0px;
}


/* hero*/
.hero-image {
    background-image: url(home-images/GaqShcPaoAA1r0b.jpeg);
    height: 560px;
    background-position: 30% 21%;
    font-family: "Noto Serif JP", serif;
}

.hero-text {
    background-image: linear-gradient(to right, hsl(240, 4%, 11%), #1b1b1dfa, #1b1b1df4, #1b1b1d7e, hsla(240, 4%, 11%, 0.027), hsla(240, 4%, 11%, 0));
    height: 560px;
    align-content: flex-end;
    bottom: 10px;
    padding: 0px 0px 0px 144px;
}

.hero-image h1 {
    margin: 0px;
    font-size: 128px;
    line-height: 105%;
}

.hero-image h4 {
    font-size: 39px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 30px;
}

.blue-button {
    background-color: #07175B;
    border: #07175B 1px;
    border-radius: 3px;
    color: white;
    font-weight: 650;
    font-family: 'Futura Std', sans-serif;
    padding: 12px 30px;
    margin: 0px 0px 85px 0px;
}

.blue-button:hover {
    background-color: #5D9DFE;
}