/*Navbar*/
nav {
    background-color: rgba(15, 15, 16, 1);
    font-family: 'Futura Std', sans-serif;
    font-size: 16px;
    padding: 15px 144px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

a {
    color: white;
    text-decoration: none;

}

.nav1 {
    display: flex;
    gap: 55px;
    align-items: center;
}

.arrow {
    transform: rotate(90deg);
    height: 20px;
}

.underline {
    display: flex;
}

.underline:hover {
    border-bottom: #5D9DFE solid 2px;
}

/*menu*/
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

#about {
    display: flex;
    align-items: center;
    gap: 5px;
}

div.menu-title {
    color: white;
}

.submenu1 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1x;
}

.submenu1 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item1:hover .arrow {
    transform: rotate(270deg);
}

.menu-item1:hover .submenu1 {
    display: block;
}

#live-news {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submenu2 {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.submenu2 a {
    display: block;
    text-align: left;
    background-color: rgba(15, 15, 16, 1);
    padding: 13px 20px;
}

.menu-item2:hover .arrow {
    transform: rotate(270deg);
}

.menu-item2:hover .submenu2 {
    display: block;
}

/*get in touch*/
.get-in-touch {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon :hover {
    fill: #5D9DFE;
}

g:hover circle {
    fill: #5D9DFE;
}

g:hover path {
    fill: #5D9DFE;
}

/*end nav*/

@font-face {
    font-family: Futura Book;
    src: url("Futura/FuturaStd-Book.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Futura Heavy;
    src: url("Futura/FuturaStd-Heavy.otf");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #1b1b1d;
}

div.news-heroimg {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.5), rgb(27, 27, 29, 1)), url("img/news-images/Ado-news-banner-cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    background-position-x: 80%;
    width: 100%;
    height: 590px;
}

h1.news-heading {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    bottom: 25px;
    left: 144px;
    color: white;
    font-size: 80px;
}

div.latest {
    margin-left: 144px;
    margin-right: 144px;
    margin-top: 80px;
    margin-bottom: 80px;
}

div.content {
    display: flex;
    gap: 20px;
}

h2.news-subheading {
    color: white;
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

div.news1-mob {
    display: none;
}

h4.label {
    font-family: Futura Heavy;
    background-color: #5D9DFE;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    width: 80px
}

h4.date {
    font-family: Futura Book;
    color: white;
}

div.type-date {
    display: flex;
    align-items: center;
    gap: 15px;
}

h3.news-description {
    font-family: Futura Heavy;
    color: white;
}

img.news-image-fit {
    object-fit: fill;
}

div.news1-content {
    background-color: #07175B;
    border: 1px solid #07175B;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

div.news-content-hover:hover {
    background-color: #0F0F10;
    border: 1px solid white;
}

div.news-multiple {
    display: flex;
    gap: 20px;
}

div.news2 {
    flex: 1;
    background-color: #07175B;
    border: 1px solid #07175B;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

div.news3 {
    flex: 1;
    background-color: #07175B;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

div.news4 {
    flex: 1;
    background-color: #07175B;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

div.news5 {
    flex: 1;
    background-color: #07175B;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

div.more-news-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

button.more-news-button {
    font-family: Futura Heavy;
    background-color: #07175B;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

button.more-news-button:hover {
    font-family: Futura Heavy;
    background-color: white;
    color: #07175B;
}

div.release-banner1img {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), linear-gradient(to top, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), url("img/news-images/Ado-news-release-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    width: 100%;
    height: 440px;
}

div.release {
    margin-left: 144px;
    margin-right: 144px;
    margin-top: -100px;
}

h3.release-description {
    font-family: Futura Heavy;
    color: white;
}

div.release-border-left {
    flex: 1;
    background-color: #07175B;
    border: 1px solid #07175B;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

div.release-content {
    display: flex;
    gap: 20px;
}

div.left-content {
    flex: 1;
}

div.release-border-right {
    background-color: #07175B;
    border: 1px solid #07175B;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

div.release-content-hover:hover {
    background-color: #0F0F10;
    border: 1px solid white;
}

div.right-content {
    flex: 2;
}

div.info-wimg {
    display: flex;
    align-items: center;
    padding: 15px;
}

div.info {
    margin-left: 20px;
}

div.type-date-right {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

div.release-description-right {
    height: 50px;
}

div.right-content-mob {
    display: none;
}

div.release-banner2img {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(27, 27, 29, 0.2), rgba(27, 27, 29, 0.2), rgb(27, 27, 29, 1)), url("img/news-images/Ado-news-release-banner2-cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    width: 100%;
    height: 440px;

}

/*Desktop footer*/
@font-face {
    font-family: Futura Medium;
    src: url("Futura/FuturaStd-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

div.footer-get-in-touch {
    margin: 10px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
}

div.footer-content {
    margin-left: 144px;
    margin-right: 144px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.footer-first-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.menu {
    display: flex;
}

a.menu-item {
    font-family: Futura Medium;
    color: white;
    font-size: 18px;
}

a.menu-item:hover {
    color: #5D9DFE;
}

a.footer-info {
    font-family: Futura Medium;
    color: white;
    font-size: 16px;
}

div.footer-info {
    margin-right: 35px;
}

a.footer-info:hover {
    color: #5D9DFE;
}

div.footer-info-menu {
    display: flex;
    margin-top: 60px;
}

p.copyright {
    font-family: Futura Medium;
    color: white;
    font-size: 15px;
}

/*End of desktop footer*/

@media screen and (max-width: 600px) {
    div.nav1 {
        /
    }

    div.get-in-touch {
        /
    }


    h1.news-heading {
        position: absolute;
        bottom: 25px;
        left: 22px;
        font-size: 80px;
    }

    div.news1-mob {
        display: block;
    }

    div.news1-left {
        display: none;
    }

    div.latest {
        flex-direction: column;
        margin-left: 22px;
        margin-right: 22px;
    }

    img.news-image-mob {
        width: 390px;
    }

    div.content {
        flex-direction: column;
    }

    div.news-multiple {
        display: flex;
        flex-direction: column;
    }


    div.news-heroimg {
        background-position-x: 80%;
    }

    div.release {
        flex-direction: column;
        margin-left: 22px;
        margin-right: 22px;
    }

    div.right-content {
        display: none;
    }


    div.right-content-mob {
        display: block;
    }


    /*Mobile footer*/
    div.footer-first-layer {
        display: block;

    }

    div.footer-content {
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    div.footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    div.menu {
        display: block;
        text-align: center;
    }

    div.menu-content {
        margin: 10px 0px;
    }

    div.footer-get-in-touch-mob {
        margin: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    div.footer-info-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px 0px;
    }

    div.footer-info {
        margin: 0;
        margin: 5px 10px;
    }

    div.copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}